<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">

            <li class="header nav-small-cap">Yönetim İşlemleri</li>
            <li class="active">
                <a href="@Url.Action("Index","Home")">
                    
                    <span class="ml-md-50">AnaSayfa</span>
                    <span class="pull-right-container">
                        
                    </span>
                </a>

            </li>
            <li class="active">
                <a href="@Url.Action("Index","Customers")">
                   <span class="ml-md-50">Müşteriler</span>
                    <span class="pull-right-container">
                       
                    </span>
                </a>
            </li>

           



        </ul>
    </section>
</aside>